{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_app/header_styles.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/profile_styles.css' %}">

    <title>SwipeShop</title>
</head>

<body>
    {% include "header/index.html" %}

    <div class="container" id="profileInfo">
        <img src="https://i.imgur.com/Ss75Vfa.jpg" alt="profile picture" id="profilePicture">
        <h1 id="username">terry.crews</h1>
        <div class="row" id="locationRow">
            <div class="col"></div>
            <div class="col-auto">
                <img src="{% static 'images/location.png' %}" alt="location">
            </div>
            <div class="col-auto">
                <h5 id="location">Fargo, ND</h5>
            </div>
            <div class="col"></div>
        </div>
        <button class="btn btn-light" id="editProfileButton" (click)="editProfile()">Edit Profile</button>
    </div>

    <div class="container" id="newListingContainer">
        <button class="btn btn-dark" id="newListingButton">New Listing</button>
    </div>

    <div class="container" id="listings">
        <!-- <app-listing-card *ngFor="let object of userProfile.listings" [listingObject]="object"></app-listing-card> -->
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>